.navbar-section {
  position: relative;
  z-index: 1;
}
.navbar-section .menu-btn {
  cursor: pointer;
}
.navbar-section .overlay {
  position: fixed;
  z-index: 2;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.navbar-section .overlay.-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navbar-section > .navbar {
  position: fixed;
  right: -100%; /* hide it */
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 1em;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
.navbar-section > .navbar.-active {
  right: 0;
}
.navbar-section > .navbar > .close-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  background-color: #fff;
}
.navbar-section > .navbar > li {
  display: block;
  width: 100%;
}
.navbar-section > .navbar > li > a {
  color: #000;
  text-align: left;
}
@media only screen and (min-width: 992px) {
  .navbar-section > .navbar {
    all: unset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    font-weight: 600;
  }
  .navbar-section > .navbar > .close-btn {
    display: none;
  }
  .navbar-section > .navbar > li {
    display: block;
  }
  .navbar-section > .navbar > li > a {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }
  .navbar-section > .navbar > li > a:hover {
    color: #c66c6e !important;
  }
}